/* CSS Document */
/* Will be used to style the website */
/* If you're reading this, hello! I'm currently in the middle of revamping this website, if you want to visit the old version, click the link below */

.topbar-menu {

  background-color: red;
  color: yellow;
  font-size: 50px;
  text-decoration: underline;

}

.body-text {
  font-size: 30px;
}

html {
  background-color: black;
  align-items: center;
  text-align: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}