/* CSS Document */

.topbar-menu {

  background-color: red;
  color: yellow;
  font-size: 50px;
  text-decoration: underline;
  text-align: center;

}

.body-text {
  font-size: 30px;
}

html {
  background-color: black;
  align-items: center;
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}